ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #222;
}

.top{
  padding-top: none;
  background-color: #223D72;
  height: 100px;
  display: block;
  float: left;
  width: 10%;
}
.top p {
  font-size: 0.7em;
  padding-left: 5px;
  padding-top: none;
  color: #696C6E;
  text-align: left;
}

.iit_image{
  padding-top: none;
  margin-right: 3px;
  background-color: #223D72;
  height: 116px;
  display: block;
  float: right;
  width: 10%;
}

li a {
    float: right;
}


li a {
    display: block;
    color: #696C6E;
    border-bottom: 2px solid #0EA1EB;
    margin-right:4px;
    padding: 10px 12px;
    text-decoration: none;
}



li a.sign {
    background-color: #122;
    
}
.active {
    background-color: #223D72;
    border-bottom: 2px solid #223D72;
    color: white;
}

/* NOTE: The styles were added inline because Prefixfree needs access to your styles and they must be inlined if they are on local disk! */
      body {
  font-family: "Open Sans", sans-serif;
  height: 100vh;
  background: url("bus.jpg") 100%; 
  background-size: cover;
  border: 5px;
  padding: 0px;
}

@keyframes spinner {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(359deg);
  }
}
* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding-top: 0px;
  padding-bottom: 100px;
  background: rgba(128, 128, 128, 0.7);
}

.login {
  border-radius: 10px 10px 10px 10px;
  padding: 10px 20px 20px 20px;
  width: 50%;
  max-width: 320px;
  background-color: white;
  position: relative;
  padding-bottom: 70px;
  box-shadow: 5px 7px 5px rgba(25, 25, 25, 0.8);
  float:left;
}



.login input {
  display: block;
  padding: 15px 10px;
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid #ddd;
  transition: border-width 0.2s ease;
  border-radius: 2px;
  color: black;
}

.login select {
  display: block;
  padding: 15px 10px;
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid #ddd;
  transition: border-width 0.2s ease;
  border-radius: 2px;
  color: black;
}
  
.login input:focus {
  outline: none;
  color: #444;
  border-color: #2196F3;
  border-left-width: 35px;
}

.login a {
  font-size: 0.8em;
  color: #2196F3;
  text-decoration: none;
}
.login .title {
  color: #444;
  font-size: 1em;
  font-weight: bold;
  margin: 10px 0 30px 0;
  border-bottom: 1px solid #eee;
  padding-bottom: 5px;
}
.login button {
  width: 100%;
  height: 100%;
  padding: 10px 10px;
  background: #2196F3;
  color: white;
  font-size: 1em;
  display: block;
  border: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  max-height: 60px;
  border: 0px solid rgba(0, 0, 0, 0);
  border-radius: 0 0 2px 2px;
  margin: 20;
  transform: rotateZ(0deg);
  transition: all 0.1s ease-out;
  border-bottom-width: 7px;
}

.wrapper1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(128, 128, 128, 0.7);
  padding-top: 70px;
  padding-bottom: 500px;
  width: 50%;
  padding: 10px;
}



.credential {
  font-size: 0.7em;
  color: #999;
  padding-top: none;
  height: 2px;
}
.content p {
  color: yellow;
  border: 2px solid rgba(12, 18, 56, 1);
  background-color: rgba(12, 18, 56, 1);
  padding: 4px;
  margin: 0px;
  margin-bottom: 1px;
  line-height: 22px;
  float: left;
  font-weight: lighter;

}

.name p {
  color: white;
  border-left: 2px solid black;
  border-right: 2px solid black;
  background-color: rgba(12, 18, 56, 1);
  padding: 2px;
  margin: 0px;
  width:200px;
}

.name {
  float:left;
}

.instruct p {
  color: white;
  border-left: 2px solid black;
  border-right: 2px solid black;
  background-color: rgba(12, 18, 56, 1);
  padding: 2px;
  margin: 0px;
  width:200px;
}

.instruct{
  float:right;
}

.wrapper1 {
  float:left;
}

.pdf {
  font-size: 1em;
  color: red;
  font-family:  Loma;
  background-color: rgba(128, 128, 128, 0.7);
  width: 50%;
  margin-top: 0px;
  padding-bottom: 188px;
  float: right;

}

.iit{
  color: white;
  background-color: #223D72; 
  height: 150px;
  padding: 2px;
}
 .text1{
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 5px;
 }

 .text2{
  font-size: 0.9em;
  margin-bottom: 0px;
  margin-top: 8px;
 }

 .text3{
  font-size: 1em;
  font-style: ;
  margin-bottom: 0px;
 }


 .user {
  color: purple;
  font-weight: bolder;
  font-size: 2.5em;
  text-align: center;
  border-bottom: 2px solid red;
 }

 .cancel {
  color: purple;
  background: white;
  opacity: 0.9;
  font-weight: bolder;
  font-size: 1em;
  text-align: center;
  border-bottom: 2px solid red;
 }

 .cancel1 {
  color: purple;
  background: white;
  opacity: 0.75;
  font-weight: bolder;
  height: 1000px;
  font-size: 1em;
 }


.wrapper2 {
  display: flex;
  align-items: center ;
  justify-content: center;
  background-color: rgba(128, 128, 128,0.7);
  width: 50%;
  padding-top: 230px;
  padding-bottom: 230px;
  float: right;
}

.wrapper3 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(128, 128, 128, 0.7);
  width: 25%;
  padding-top: 220px;
  padding-bottom: 290px;
  vertical-align: bottom;
  overflow: inherit;
  float: left;
}

.login comment {
  display: block;
  padding: 15px 10px;
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid #ddd;
  transition: border-width 0.2s ease;
  border-radius: 2px;
  color: black;
}

.wrapper4 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(128, 128, 128, 0.7);
  width: 50%;
  padding-top: 75px;
  padding-bottom: 215px;
  vertical-align: bottom;
  overflow: inherit;
  float: left;
}

.wrapper6 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(128, 128, 128, 0.7);
  padding-top: 50px;
  padding-bottom: 0px;
  width: 50%;
  float: left;
}